body {
  background-color: #003049;
}

header {
  background-color: #a288a6;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 100px;
  color: #d62828;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #eae2b7;
}
