.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
  // border: 1px solid red;
}

.current {
  // border-bottom: 4px solid $primary-green !important;
  background: $primary-green;
  color: #fff !important;
}

// PADDING
.p {
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &y-1 {
    padding: 1rem 0;
  }
  &y-2 {
    padding: 2rem 0;
  }
  &y-3 {
    padding: 3rem 0;
  }
  &y-4 {
    padding: 4rem 0;
  }
  &y-5 {
    padding: 5rem 0;
  }
  &y-6 {
    padding: 6rem 0;
  }
}

// BUTTONS
%btn-shared {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  text-align: center;
  border-radius: 0.2em;
  transition: background 0.5s ease;
}

.btn {
  &-primary {
    @extend %btn-shared;
    background: $primary-green;
    color: #fff;
    &:hover {
      background-color: darken($primary-green, 10%);
    }
  }
  &-light {
    @extend %btn-shared;
    background: $light-color;
    color: $primary-green;
    &:hover {
      background-color: darken($light-color, 10%);
    }
  }
}
// TEXT
.lead {
  font-size: 1.5rem;
  color: $dark-green;
}
.sub-heading {
  display: inline-block;
  font-size: 3rem;
  text-align: center;
  width: 100%;

  &:after {
    content: " ";
    display: block;
    // margin-top: 2px;
    border-bottom: 5px solid $dark-green;
    width: 4rem;
    margin: 0 auto 1rem auto;
  }
}
