@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid black;
}

body,
textarea {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $primary-green;
  background: #fff;
}

input,
textarea {
  border: none;
  color: $dark-green;

  &:focus {
    outline-color: $light-color;
  }
}

a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: $dark-green;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem;
}

img {
  width: 100%;
}

// HEADER
#header {
  height: 100vh;

  .header {
    &-img {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        $header-hero no-repeat center center/cover;
      height: 100vh;
      border: 1rem solid white;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: #fff;
      line-height: 2.5rem;
      text-align: center;
      backface-visibility: hidden;
      h1 {
        font-size: 6rem;
        letter-spacing: 1rem;
        margin-bottom: 0.5em;
      }

      .subtitle {
        font-size: 2rem;
        letter-spacing: 0.5rem;
      }
    }
  }

  #nav-bar {
    position: fixed;
    width: 100%;
    background: white;
    color: $primary-green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    z-index: 99;

    .logo {
      width: 80px;
      height: 100%;
      background: $primary-green;
      color: #fff;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      padding: 0.2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    // nav bar items
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: auto;
      // FOR TOGGLE ITEMS
      // position: absolute;
      // display: flex;
      // right: 0;
      // top: 4rem;
      // height: 25rem;
      // width: 15rem;
      // flex-direction: column;
      // justify-content: space-evenly;
      // align-items: center;
      // padding: 2rem 0;
      // background: #fff;

      li a {
        display: inline-block;
        color: $primary-green;
        letter-spacing: 0.1rem;
        margin-left: 0.5rem;
        font-weight: 400;
        font-size: 1.1rem;
        padding: 15px 12px;
        transition: background 0.2s ease;

        &:hover {
          // border-bottom: 4px solid $light-color;
          background: $primary-green;
          color: #fff;
        }
      }
    }
  }
}
// FOR HAMBURGERRRRR
label[for="toggle"],
input[id="toggle"] {
  display: none;
}

// ABOUT
#about {
  .about-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0.5rem;
    h2 {
      font-size: 4rem;
    }
  }
}

.about-video {
  position: relative;
  overflow: hidden;
  .videoContainer {
    position: absolute;
    max-width: 100vw;
    height: 50vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  iframe {
    /* optional */
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.about-team {
  .members {
    // border: 1px solid black;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 1rem;
    // justify-content: space-evenly;
    // align-items: center;
    display: flex;
    padding-top: 2rem;
    justify-content: space-around;
    align-items: center;
    &-profile {
      text-align: center;
      color: $dark-green;
      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
    }
    &-title {
      font-weight: 600;
    }
    h4 {
      color: $primary-green;
    }
  }
}

// Servies
#services {
  .services-container {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h2 {
      // transform: rotate(-90deg);
      font-size: 4rem;
      transform: rotate(-90deg);
      display: inline;
    }
    p {
      max-width: 50ch;
      min-height: 15rem;
    }
    h4 {
      margin-bottom: 1rem;
    }

    // img {
    //   height: 100vh;
    //   object-fit: cover;
    // }

    .service-card {
      color: #fff;
      height: 35rem;
      // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      //   url("/dist/img/showcase/edelle-bruton-PJNO2sLlbB8-unsplash.jpg")
      //     no-repeat center center/cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &-1 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
          url("../img/services/gabrielle-henderson-HJckKnwCXxQ-unsplash.jpg")
            no-repeat center center/cover;
      }

      &-2 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
          url("../img/services/daniil-silantev-1P6AnKDw6S8-unsplash.jpg")
            no-repeat center center/cover;
      }

      &-3 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
          url("../img/services/alexandra-gorn-W5dsm9n6e3g-unsplash.jpg")
            no-repeat center center/cover;
      }

      .service-outer {
        text-align: center;
        padding: 10px;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// Showcase
.showcase {
  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;
    gap: 1rem;

    a {
      display: inline-block;
      height: 209.781;
    }

    img {
      object-fit: cover;
      transition: opacity 0.2s ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

// Pricing
// #pricing {
//   h2 {
//     font-size: 4rem;
//     text-align: center;
//   }
// }

// Footer
footer {
  background: $dark-green;
  h6,
  p {
    color: #fff !important;
  }
  h6 {
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
  }
  .footer {
    &-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    &-form {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      padding: 1rem 0;

      input,
      textarea {
        padding: 1rem;
        margin-top: 1rem;
      }

      input[type="submit"] {
        font-weight: 600;
        font-size: 1rem;
        padding: 0.6rem;
      }
    }

    &-contact {
      align-self: center;
      justify-self: end;

      div {
        text-align: right;
        margin: 1rem 0;

        h5 {
          font-size: 1.2rem;
          color: #fff;
        }
      }
    }

    &-copyright {
      grid-column: 1 / span 2;
      text-align: center;
    }
  }
}

// INQUIRY PAGE
.footer-container.inquiry {
  display: block;

  .footer {
    &-copyright {
      padding-top: 2rem;
    }

    &-contact {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      div {
        text-align: center;
      }
    }
  }
}

// ANIMATIONS
// .about-title {
//   opacity: 0;
// }

// .about-title.animate_animated {
//   opacity: 1;
// }
// MEDIA QUERY
@import "media";
