/**********************************************
*** GENERAL
**********************************************/

:root {
  --active: #f7f7f7;
  --current: #fff;
  --text: #555;
  --label: #222;
  --accent: #eb4d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-image: linear-gradient(
      rgba(62, 20, 20, 0.4),
      rgba(62, 20, 20, 0.4)
    ),
    url(back.jpg);
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: var(--text);
}

.wrapper {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--current);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.player-0-panel,
.player-1-panel {
  width: 50%;
  float: left;
  height: 600px;
  padding: 100px;
}

/**********************************************
*** PLAYERS
**********************************************/

.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.player-score {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: var(--accent);
  margin-bottom: 130px;
}

div[class*="winner-tag"] {
  text-align: center;
  font-weight: bold;
}

.active {
  background-color: var(--active);
}
.active .player-name {
  font-weight: 300;
}

.active .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: var(--accent);
  top: -7px;
  right: 10px;
}

.player-current-box {
  background-color: var(--accent);
  color: var(--current);
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  color: var(--label);
}

.player-current-score {
  font-size: 30px;
}

button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text);
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  font-weight: 600;
}
button:hover i {
  margin-right: 20px;
}

button:focus {
  outline: none;
}

i {
  color: var(--accent);
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s;
}

.btn-new {
  top: 45px;
}
.btn-restart {
  top: 90px;
}
.threshold-tag {
  top: 339px;
}
.btn-roll {
  top: 403px;
}
.btn-hold {
  top: 467px;
}

.dice {
  position: absolute;
  left: 50%;
  top: 178px;
  transform: translateX(-50%);
  height: 100px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.winner {
  background-color: var(--active);
}
.winner .player-name {
  font-weight: 300;
  color: var(--accent);
}

/* UTILITY */
.hidden {
  visibility: hidden;
}

.display-none {
  display: none !important;
}
.dark-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(back.jpg);
}

/* TOGGLE SWITCH */
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 2rem;
  left: 2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* FLEX */
.flex {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}
.flex > div {
  width: 100%;
}

/* STARTER SCREEN */
.form__input {
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  border-radius: 2px;
  background-color: var(--active);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--accent);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--accent);
}
.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__label {
  font-size: 0.8rem;
  font-weight: 700;
  /* margin-left: 2rem; */
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s ease;
}

.game-title {
  font-size: 2.5rem;
  color: var(--accent);
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  background-color: var(--accent);
  color: var(--active);
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  right: 0;
  margin-top: 1.5rem;
}
